{% extends "base.html" %} 
{% block title %}Idea Validation{% endblock %} 
{% block content %}
<div class="flex flex-col text-center w-full mb-10 mt-10">
  <h1 class="sm:text-7xl mb-5 text-2xl bg-gradient-to-r from-orange-500 via-orange-300 to-red-600 inline-block text-transparent bg-clip-text font-medium title-font font-poppins">
    Ask Athena
  </h1>
  <h1 class="sm:text-5xl text-2xl text-light font-medium title-font font-poppins">
    Let's Kickstart your Career!
  </h1>
</div>

<div class="container mx-auto max-w-md">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="business-idea">
        Your Next Big Business Idea
      </label>
      <textarea
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="business-idea" name="business-idea" placeholder="Tell us about your idea..."
        rows="5" required
      ></textarea>
    </div>
    <div class="flex items-center justify-between">
      <button
        class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >
        Submit
      </button>
    </div>
  </form>
</div>
{% endblock %}
